body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
  //display: flex;
}
.header {
  //border: 1px solid aqua;

  &__title {
    //border: 1px solid red;
    text-align: center;
    font-size: 2em;
    margin-top: 50px;
  }
}

.global {
  display: flex;
  //border: 1px solid orange;
}

.container {
  //border: 1px solid red;
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 30vw;

  &__form {
    //border: 1px solid blue;
    display: flex;
    flex-direction: column;

    @media all and (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
    }

    &__input {
      font-family: "Courier New", Courier, monospace;
      font-size: 2em;
      border: 1px solid white;
      border-bottom: 2px solid black;
      padding: 0 10px;
      width: 40%;

      @media all and (min-width: 768px) {
        padding: 0px;
        width: 100%;
      }
    }
    &__button {
      font-family: "Courier New", Courier, monospace;
      font-size: 2em;
      background: brown;
      color: white;
    }
  }
}

.aside {
  //border: 1px solid red;
  &__title {
    //border: 1px solid blue;
    text-align: center;
    margin-top: 50px;
  }
  &__list {
    list-style: none;
    //background: chartreuse;
    padding: 0px;

    &__item {
      border: 2px solid brown;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 5px 0;

      &__img {
        width: 63px;
        height: 88px;
      }
      &__title {
        padding: 0 10px;
      }
    }
  }
}

.movie__list {
  //border: 1px solid blue;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 70vw;
  padding: 0px;
  &__item {
    //border: 1px solid grey;
    background: pink;
    margin: 5px;
    padding: 10px;

    &__title {
      text-align: center;
      font-size: 1em;
    }

    &__img {
      align-items: center;
      justify-content: center;
      //transform: scale(0.8);
      width: 147px;
      height: 206px;
    }
  }
}

.js-fav {
  background: brown;
}
