<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Adalab Web Starter Kit</title>
    <link rel="icon" href="./favicon.png" />
    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>
  <body>
    <!-- formulario -->
    <div class="container">
      <form action="">
        <input type="text" class="" />
        <button>Buscar</button>
      </form>

      <!-- listado de favoritos -->
      <aside>
        <h2>Mis series</h2>
        <ul>
          <li></li>
        </ul>
      </aside>
    </div>
    <!-- listado de pelis -->
    <main>
      <h1>Buscador de series</h1>
      <ul class="movie__list"></ul>
    </main>
    <script type="text/javascript" src="./assets/js/data.js"></script>
    <script type="text/javascript" src="./assets/js/main.js"></script>
  </body>
</html>
