<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Adalab Web Starter Kit</title>
    <link rel="icon" href="./favicon.png" />
    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>
  <body>
    <!-- título de la página -->
    <header class="header">
      <h1 class="header__title">Buscador de series</h1>
    </header>

    <main class="global">
      <div class="container">
        <!-- formulario -->
        <form method="" action="" class="container__form">
          <input type="text" class="container__form__input" />
          <button class="container__form__button">Buscar</button>
        </form>

        <!-- listado de favoritos -->
        <aside class="aside">
          <h2 class="aside__title">Mis series favoritas</h2>
          <ul class="aside__list">
            <li class="aside__list__item">
              <img src="https://www.fillmurray.com/140/100" alt="" />
              <h3>Título fake</h3>
              <div>x</div>
            </li>
          </ul>
        </aside>
      </div>

      <!-- listado de pelis -->
      <section class="movie">
        <ul class="movie__list"></ul>
      </section>
    </main>

    <!-- scripts -->
    <script type="text/javascript" src="./assets/js/data.js"></script>
    <script type="text/javascript" src="./assets/js/main.js"></script>
  </body>
</html>
